:root {
  --main-dark: #33312e;
  --main-light: #fcfcfc;

  --accent: #17a398;
  --darken-accent: #0c504a;
  --additional-accent: #f38d68;

  --border-radius: 5px;
  --transition: 0.3s ease-in-out;
}
